$col1: 	#333333;
$dcol2:	#1d1d1d;
$border:#c2c2c2;
$red: #ed2024;
$dark:#5a5a5a;
$bg2:#f1eeee;
$black: black;
$bg:#f5f8fc;
$white:rgba(255,255,255,1);
$transition: all 0.3s ease-in-out;
$shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.1);


// ============ spical btn ====================//
